<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/predict" method="post">
        <p>sepal length</p>
        <input name="feature1" type="text" placeholder="5.1" value="5.1">
        <br>
        <p>sepal width</p>
        <input name="feature2" type="text" placeholder="3.5" value="3.5">
        <br>

        <p>petal length</p>
        <input name="feature3" type="text" placeholder="1.4" value="1.4">
        <br>

        <p>petal width</p>
        <input name="feature4" type="text" placeholder="0.2" value="0.2">
        <br>
        <button type="submit">Predict</button>
    </form>

</body>
</html>